<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <RollingFile name="rollingFile"
                     fileName="/var/log/tomcat/spring-boot-ws.log"
                     filePattern="/var/log/tomcat/spring-boot-ws-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <Async name="ASYNC">
            <AppenderRef ref="rollingFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="com.emailvision" level="DEBUG" />
        <Logger name="org.springframework" level="ERROR" />
        <Logger name="org.springframework.boot" level="WARN" />
        <Root level="WARN">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>
